@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;

}
button {
    color: #fff;
    font-weight: 800;
    background-color: #3882F6;
    border:0px;
    padding: 8px 32px;
    max-width: 150px;
    border-radius: 8px;
    align-self: left;
}
.header-nav-bar {
    font-size: 18px;
}

.header-nav-links {
    color: #E5E7EB
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: space-evenly;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-headline {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}

.hero-right {
    background-color: rgb(102, 102, 116);
    min-width: 560px;
    height: 300px;
    border: solid #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 100px;
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    gap: 16px;
    background-color: #1F2937;
}

.cards {
    display: flex;
    background-color: #fff;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 32px;
}
.cards-title {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 48px;
}

.card-thumbnail {
    border-radius: 16px;
    border: solid #3882F6;
    width: 180px;
    height: 180px;

}

.card-content {
    text-align: center;
    margin-top: 12px;
}

.quotes {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    text-align: center;
    padding: 148px;
}

.quotes-content {
    font-weight: 100;
    font-size: 32px;
    font-style: italic;
}

.quotes-author {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
    padding: 0px 48px;
}

.cta {
    margin: 120px;
    background-color: #3882F6;
    height: 150px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-title {
    color: #fff;
    font-weight: 900;
    font-size: 24px
}

.cta-filler {
    color: #fff;
    font-weight: 100;
    font-size: 16px
}

.cta-button {
    border-radius: 12px;
    border: solid #fff;
    padding: 8px 32px;
    color: #fff;
    font-weight: 900;
}

.footer {
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    background-color: #1F2937;
    padding: 48px;
    color: #fff;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
}